workflows/free-city-autocomplete-webhook.json
{
  "id": "3b7f6d9e-d41f-4562-86af-430fb1428e31",
  "name": "Free city autocomplete (webhook)",
  "nodes": [
    {
      "parameters": {
        "content": "### Free city autocomplete API\nExposes Geomelon's keyless Oneshot Autocomplete as your own webhook. No RapidAPI credential needed — call it with query params:\n\n`?country=ES&lang=es&q=barc`",
        "height": 200,
        "width": 300
      },
      "id": "d4a796be-296d-4500-a1ce-8d4fede58a80",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-160, -120]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "geomelon-autocomplete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "804651f1-6085-41d0-869e-9491822dc462",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-160, 120],
      "webhookId": "032eb866-2963-49ac-8836-ba762ad7d613"
    },
    {
      "parameters": {
        "resource": "city",
        "operation": "oneshotAutocomplete",
        "countryCode": "={{ $json.query.country }}",
        "language": "={{ $json.query.lang }}",
        "prefix": "={{ $json.query.q }}"
      },
      "id": "26806a45-e5df-4bb1-9460-9743e3fe30c5",
      "name": "Geomelon",
      "type": "n8n-nodes-geomelon.geomelon",
      "typeVersion": 1,
      "position": [80, 120]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "2adcb1ef-962f-4450-9a95-a1fef25a80ef",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [320, 120]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Geomelon", "type": "main", "index": 0 }
        ]
      ]
    },
    "Geomelon": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
